.layout {
    background-color: #001529 !important;
}

.container-footer {
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.icon-content {
    height: 2rem;
    margin: 0 0.4rem;
  }

  .icon-content-whatsapp {
    height: 2rem;
    margin: 0 0.4rem;
    filter: invert(100%);
  }

  .contato-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  @media (max-width: 480px) {

    .container-footer {
      grid-template-columns: 1fr;
    }
  }